:root {
    --primaryColor: #EE7130;
}

.btn {
    padding: 10px 30px;
    border-radius: 2px;
    outline: none;
    border: none;
    cursor: pointer;
}

.btn--medium {
    padding: 8px 20px;
    font-size: 20px;
}

.btn--large {
    padding: 12px 26px;
    font-size: 20px;
}

.btn--medium:hover, .btn--large:hover {
    color:var(--primaryColor);
    transition: all 0.3s ease-out;
}